@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <div class="jumbotron">                  
        <h1>Contact List</h1>
        <p class="lead">A Simple Contact List build with ASP.NET MVC FRAMEWORK</p>   
    </div>
}

